*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #000000;
}

::-webkit-scrollbar {
  display: block;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  border-right: none;
  border-left: none;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  /* margin-bottom: 100px; */
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  /* margin-top: 100px; */
}

::-webkit-scrollbar-thumb:hover {
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

/* global active style */

a.active {
  border-left-color: rgb(68, 68, 68) !important;
}
